html {
	background-image: url("/soda/images/soda_foam.png");
	background-repeat: repeat-x;
}

html, body {
	background-color: #3B1F00;
	color: #112;

	/* Footer fix */
	margin:0;
	padding:0;
	height:100%;
}

body {
	background-image: url("/soda/images/soda_bubbles.png");
}

h1, h2 {
	text-align: center;
	color: #FF8A05;
	-webkit-text-stroke: 2px #FFA742;
	text-shadow:
		-1px -1px 0 #FFA742,
		1px -1px 0 #FFA742,
		-1px 1px 0 #FFA742,
		1px 1px 0 #FFA742;
}

/*
 Menu styling
*/

.menu ul {
	color: #EED;
	list-style-type: none;
}

.menu li {
	display: inline;
}

.menu a {
	color: #EED;
    float: left;
    min-width: 3em;
    text-decoration: none;
    text-align: center;
    background-color: #3B1F00;
    padding: 0.2em 0.2em;
    border-radius: 20px;
    border: 1px solid #EED;
}

a:hover {
    background-color: #4c2d00;
}

/*
 Content styling
*/

#top-menu, #content, footer {
	max-width: 30em;
	margin: 0px auto;
	padding: 10px
}

#content {
	height: 70%;
	background-color: #EED;
	border-radius: 10px;
}

p {
	max-width: 25em;
	margin: 0px auto;
	padding: 0.5em 0;
}

footer {
	color: #EED;

	/* Footer fix */
	left:auto;
	bottom:0;
	right: 0;
	width:100%;
	min-height:3em;   /* Height of the footer */
}
