html, body {
	background-color: #3B1F00;
	color: #112;

	/* Footer fix */
	margin:0;
	padding:0;
	height:100%;
}

h1, h2 {
	text-align: center;
	color: #FF8A05;
	-webkit-text-stroke: 2px #FFA742;
	text-shadow:
		-1px -1px 0 #FFA742,
		1px -1px 0 #FFA742,
		-1px 1px 0 #FFA742,
		1px 1px 0 #FFA742;
}

/* Footer fix */
#wrapper {
	min-height:100%;
	position:relative;
}

#content, footer {
	max-width: 25em;
	margin: 0px auto;
	padding: 1em 0em;
}

#content {
	/*height: 95%;*/
	background-color: #EED;
	border-radius: 10px;

	/* Footer fix */
	padding:10px;
	padding-bottom:3em;   /* Height of the footer */
}

p {
	max-width: 20em;
	margin: 0px auto;
}

footer {
	color: #EED;

	/* Footer fix */
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:3em;   /* Height of the footer */
}
