html {
	background-image: url("/soda/images/soda_foam.png");
}

html, body {
	background-color: #3B1F00;
	color: #112;

	/* Footer fix */
	margin:0;
	padding:0;
	height:100%;
}

body {
	background-image: url("/soda/images/soda_bubbles.png");
}

h1, h2 {
	text-align: center;
	color: #FF8A05;
	-webkit-text-stroke: 2px #FFA742;
	text-shadow:
		-1px -1px 0 #FFA742,
		1px -1px 0 #FFA742,
		-1px 1px 0 #FFA742,
		1px 1px 0 #FFA742;
}

.menu {

}

#top-meny .menu {

}

#content, footer {
	max-width: 25em;
	margin: 0px auto;
	padding: 10px
}

#content {
	height: 70%;
	background-color: #EED;
	border-radius: 10px;
}

p {
	max-width: 20em;
	margin: 0px auto;
	padding: 0.5em 0;
}

footer {
	color: #EED;

	/* Footer fix */
	left:auto;
	bottom:0;
	right: 0;
	width:100%;
	min-height:3em;   /* Height of the footer */
}
