body {
	background-color: #885;
	color: #112;
}

#content {
	height: 95%;
	background-color: #EED;
	border-radius: 10px;
	max-width: 25em;
	padding: 1em 0em;
	margin: 0px auto;
}

h1, h2 {
	/*margin: 0px 2em;*/
	text-align: center;
	color: #FF8A05;
}

p {
	max-width: 20em;
	margin: 0px auto;
}
